{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": 2,
    "prettier/prettier": "warn",
    "no-console": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
