:root {
  --gray1: #1a1a1f;
  --gray2: #3a3a3f;
  --gray3: #5a5a5f;
  --gray4: #7a7a7f;
  --gray5: #9a9a9f;
  --gray6: #bababf;
  --gray7: #dadadf;
  --gray8: #fafaff;

  --bluegray: #5e5e8f;

  --link: #3642ff;
  --link-hover: #121668;

  --nav-width: 20rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2rem;
  color: var(--gray2);
  background: #fefeff;
}

body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

* {
  position: relative;
  box-sizing: border-box;
}

.FileTree {
  --width: 15rem;
  width: var(--width);
  min-width: var(--width);
  background: var(--gray2);
  color: var(--gray7);
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.FileTree__directory, .FileTree__file {
  background: none;
  font: inherit;
  border: none;
  color: inherit;
  text-align: left;
  padding: 0.5rem 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.FileTree__directory:hover, .FileTree__file:hover,
.FileTree__directory:focus, .FileTree__file:focus {
  cursor: pointer;
  outline: none;
  background: var(--gray3);
  color: var(--gray8);
}
.FileTree__file::before {
  content: "- ";
  color: var(--gray5);
}
.FileTree__file.open {
  color: var(--gray8);
  background: var(--bluegray);
}


.FileViewer {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-color: var(--gray8);
  color: var(--gray2);
  overflow: hidden;
}
.FileViewer__placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  font-size: 1.5rem;
  color: var(--gray6);
  font-weight: 700;
}
.FileViewer__iframewrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.FileViewer__iframewrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}
